{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
<h2>Create account</h2>
<form method="post">
    {% csrf_token %}

    <div style="margin-bottom: 1rem;">
      <label for="id_username">Username</label><br>
      {{ form.username }}
    </div>

    <div style="margin-bottom: 1rem;">
      <label for="id_password1">Password</label><br>
      {{ form.password1 }}
    </div>

    <div style="margin-bottom: 1rem;">
      <label for="id_password2">Confirm Password</label><br>
      {{ form.password2 }}
    </div>
    
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}
