{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Fashion Shop{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/site.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
  <header>
    <div class="header-flex wrapper">
      <div class="nav-left">
        <h1><a href="{% url 'home' %}">Fashion Shop</a></h1>
        <nav>
          {% for cat in categories %}
            <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
          {% endfor %}
        </nav>
        <div class="search">
          <form action="{% url 'product_list' %}" method="get" style="margin-left: 12px;">
            <input type="text" name="q" placeholder="Search…" value="{{ q|default:'' }}">
            <button>🔍</button>
          </form>
        </div>
      </div>
      <div class="nav-right">
        {% if user.is_authenticated %}
          Hi, {{ user.username }}!
          <a href="{% url 'orders:history' %}">My orders</a>
          <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button style="background:none; border:none; color:#0e7c7b; cursor:pointer; font:inherit;
            padding:0; margin:0;">Log out</button>
          </form>
        {% else %}
          <a href="{% url 'login' %}?next={{ request.path }}">Log in</a>
        {% endif %}
        <a href="{% url 'cart:detail' %}">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="badge">{{ cart|length }}</span>
        </a>
      </div>
    </div>
  </header>

  <main class="wrapper">
      {% block content %}{% endblock %}
  </main>

  <footer>
    <div class="wrapper">
      &copy; 2025 Fashion Shop
    </div>
  </footer>
</body>
</html>
