{% extends "base.html" %}
{% block title %}{% if category %}{{ category.name }} | {% endif %}Products{% endblock %}

{% block content %}
<h2>{% if category %}{{ category.name }}{% else %}All Products{% endif %}</h2>

<div class="grid">
    {% for product in products %}
      <div class="card">
        <a href="{{ product.get_absolute_url }}">
          <div class="card-image">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <div class="overlay">
            </div>
          </div>
        </a>
        <div class="card-body">
          <h3>{{ product.name }}</h3>
          <p>${{ product.price }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

<div class="pagination">
  {% if products.has_previous %}
    <a href="?page={{ products.previous_page_number }}">&laquo; Prev</a>
  {% endif %}
  Page {{ products.number }} / {{ products.paginator.num_pages }}
  {% if products.has_next %}
    <a href="?page={{ products.next_page_number }}">Next &raquo;</a>
  {% endif %}
</div>
{% endblock %}
